.row.pull-down20
  .span8.offset2.center-text
    = form_tag search_path, :class => 'form-search form-large' do 
      = text_field_tag :keyword, nil, :class => 'search-query input-large span6'
      = submit_tag "Search", :class => 'btn btn-large btn-primary'


:javascript
  $(".search_tab").addClass("active");
