.row
  .span12
    #{@user.name} Loves ...
.row.pull-down20
  .span12
    %table.table-bordered.table-striped.center-block
      - for fav in @favorites
        %tr
          %td.span2
            .pad5
              action
          %td
            .pad5
              %h3=link_to fav.repo_name, fav.repo_url
              %br
              %p= fav.repo_description