.center-text {
	text-align: center;
}

.center-block {
  margin: 0 auto;
}

.pull-down10 {
  margin-top: 10px;
}

.pull-down20 {
  margin-top: 20px;
}

.pull-up40 {
  margin-top: -40px;
}

.pad5 {
	padding: 5px;
}

.no-margin {
  margin: 0;
}

.form-large {
  .input-large {
    height: 28px;
    font-size: 22px;
  }
}